@model EmployeePortal.Models.Timecard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Timecard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekEnding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
